*{
    margin:0;
    padding:0;  
    }
    
    
    body{
        margin:0;
        font-family: Arial, Helvetica, sans-serif;
        font-size:17px;
        color: #c1812b;
        line-height: 1.6;
    }
    
    #showcase{
        background-image:url('./CuteDoggy.jpg');
        background-size:cover;
        background-position:center;
        height:100vh;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        padding:0 20px;
    }
    
    #showcase h1{
        font-size:50px;
        line-height:1.2;
    }
    
    #showcase p{
        font-size:18px;
    }
    
    #showcase .button{
        font-size:18px;
        text-decoration:none;
        color:#c1812b;
        border:#c1812b 1px solid;
        padding:10px 20px;
        border-radius:10px;
        margin-top:20px;
    
    }
    
    #showcase .button:hover{
        background:#c1812b;
        color: #fff;
    }
    
    #section-a{
        padding:20px;
        background: #f9f9f9;
    }
